---
http_interactions:
- request:
    method: post
    uri: https://sandbox.riskified.com/api/fulfill
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","fulfillments":[{"created_at":"2013-04-23T13:36:50-04:00","status":"success","tracking_company":"fedex","tracking_numbers":"abc123","tracking_urls":"http://fedex.com/track?q=abc123","message":"estimated
        delivery 2 days","receipt":"authorization: 765656"},{"created_at":"2013-04-23T13:36:50-04:00","status":"failure","message":"item
        out of stock"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Riskified-Shop-Domain:
      - touchofmodern.com
      X-Riskified-Hmac-Sha256:
      - 3bd85783c763c2d4b9c35c4116d667b7a50f3ba3cf1dd0e84350003c1c517251
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Trace-Id:
      - 5187facfa02bfc6aac35f2646d87b917
      Status:
      - 200 OK
      Etag:
      - W/"46fe600f0f58bee8188a442bac35f26b"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","status":"fulfilled"}}'
  recorded_at: Thu, 24 Mar 2022 09:59:41 GMT
recorded_with: VCR 6.0.0
