---
http_interactions:
- request:
    method: post
    uri: https://sandbox.riskified.com/api/cancel
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","cancel_reason":"Product out of stock","cancelled_at":"2022-03-15T11:00:00Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Riskified-Shop-Domain:
      - touchofmodern.com
      X-Riskified-Hmac-Sha256:
      - 116feb7c3a8567dd438f3554ebf7dbb4c832f48e4d61dec8159af9e38053cb4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Trace-Id:
      - 937ddce571c849b5c6fef056fa247615
      Status:
      - 200 OK
      Etag:
      - W/"f7d38c65e88f981e8793f42b584e57f5"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","status":"cancelled","description":"Excluded
        by Riskified (due to cancellation)","old_status":"cancelled"},"warnings":["Can
        not cancel order at this time."]}'
  recorded_at: Thu, 24 Mar 2022 09:59:32 GMT
recorded_with: VCR 6.0.0
