---
http_interactions:
- request:
    method: post
    uri: https://sandbox.riskified.com/api/decision
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","decision":{"external_status":"approved","reason":"","decided_at":"2022-03-15T13:36:50-04:00","notes":"","amount":145,"currency":"USD"},"gateway":"adyen","payment_details":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Riskified-Shop-Domain:
      - touchofmodern.com
      X-Riskified-Hmac-Sha256:
      - e316d88bc191fde0aeed456085ce5beea025b42f18bad9e9607486921340b246
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Trace-Id:
      - b427a371c7215361d2843c517859dd25
      Status:
      - 200 OK
      Etag:
      - W/"d169fccadce502d5cf79043ace0b1bdd"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","status":"cancelled","description":"Excluded
        by Riskified (due to cancellation)","old_status":"cancelled"}}'
  recorded_at: Thu, 24 Mar 2022 09:59:31 GMT
recorded_with: VCR 6.0.0
