---
http_interactions:
- request:
    method: post
    uri: https://sandbox.riskified.com/api/checkout_denied
    body:
      encoding: UTF-8
      string: '{"checkout":{"id":"123456","payment_details":[{"credit_card_bin":"414049","avs_result_code":"A","cvv_result_code":"M","credit_card_number":"XXXX-XXXX-XXXX-4242","credit_card_company":"Visa","authorization_error":{"created_at":"2022-03-15T11:00:00-05:00","error_code":"2001","message":"Card
        was denied."}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Riskified-Shop-Domain:
      - touchofmodern.com
      X-Riskified-Hmac-Sha256:
      - 7f24f2f837066291dcf75363319dbeaa6649f3662977732c424a7d34053910f5
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Trace-Id:
      - f5909666dc2dc41d29a9b2153ca206e6
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Order already decided"}}'
  recorded_at: Thu, 24 Mar 2022 10:05:46 GMT
recorded_with: VCR 6.0.0
