---
http_interactions:
- request:
    method: post
    uri: https://sandbox.riskified.com/api/checkout_denied
    body:
      encoding: UTF-8
      string: '{"checkout":{"id":"1234563","payment_details":[{"credit_card_bin":"414049","avs_result_code":"A","cvv_result_code":"M","credit_card_number":"XXXX-XXXX-XXXX-4242","credit_card_company":"Visa","authorization_error":{"created_at":"2022-03-15T11:00:00-05:00","error_code":"2001","message":"Card
        was denied."}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Riskified-Shop-Domain:
      - touchofmodern.com
      X-Riskified-Hmac-Sha256:
      - b191b8174f0cacc38c185bb6fe709c05846d89386e50a826f956320aa5db628e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Trace-Id:
      - 7b8e35bfe51ce792912c60245ef64c8f
      Status:
      - 200 OK
      Etag:
      - W/"8a0ed665a96e4707f21831912f67b3c8"
    body:
      encoding: UTF-8
      string: '{"checkout":{"id":"1234563","status":"denied"}}'
  recorded_at: Thu, 24 Mar 2022 10:05:47 GMT
recorded_with: VCR 6.0.0
