---
http_interactions:
- request:
    method: post
    uri: https://sandbox.riskified.com/api/refund
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","refunds":[{"refund_id":"1235","sku":"ABCD004245","amount":10.5,"refunded_at":"2014-01-10T11:00:00Z","currency":"USD","reason":"Rebate"},{"refund_id":"1238","sku":"EFGH008482","amount":22,"refunded_at":"2014-02-10T11:00:00Z","currency":"USD","reason":"Product
        not shipped"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Riskified-Shop-Domain:
      - touchofmodern.com
      X-Riskified-Hmac-Sha256:
      - 10d998497f298484bf0f0db3ebf48d7bca0098da6fbf619e9edb277a256a8b2b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Trace-Id:
      - f260fce1c820a40bf465c53dd909381d
      Status:
      - 200 OK
      Etag:
      - W/"d169fccadce502d5cf79043ace0b1bdd"
    body:
      encoding: UTF-8
      string: '{"order":{"id":"123456","status":"cancelled","description":"Excluded
        by Riskified (due to cancellation)","old_status":"cancelled"}}'
  recorded_at: Tue, 26 Apr 2022 04:18:58 GMT
recorded_with: VCR 6.0.0
